// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.panel { 
    width:auto;
    margin:0px 20px 0px 20px;
}

.container{
    width:auto;
    margin:0px 20px 0px 20px;

}

.form-group { 
    max-width:700px;
    margin:20px 10px;

}
.alert {
    margin:10px 20px 10px 20px;
}

p {
    margin:0px 0px 0px 30px;
}

/*.btn {
    margin:0px 0px 20px 20px;
}
*/

.contents{
    
}
/*
.text_field{
    display: inline-block;
     margin:0px 0px 0px 20px;
}

.field{
    display: inline-block;
    margin:0px 0px 0px 10px;
}

.text_area{
    display: inline-block;
     margin:0px 0px 0px 20px;
}

.area{
    display: inline-block;
    margin:0px 0px 0px 0px;
}
*/

.field_with_errors{
  display: inline-block;
  border: 1px solid #f00;
  width: 100%;
}
