// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.panel { 
    width:auto;
    margin:0px 20px 0px 20px;
}

.container{
    width:auto;
}

.form-group { 
    width:700px;
    margin:20px 0px;

}



/*.btn {
    margin:0px 0px 20px 20px;
}
*/

.contents{
    
}

.text_field{
    display: inline-block;
     margin:0px 0px 0px 20px;
}

.field{
    display: inline-block;
    margin:0px 0px 0px 10px;
}

.text_area{
    display: inline-block;
     margin:0px 0px 0px 20px;
}

.area{
    display: inline-block;
    margin:0px 0px 0px 10px;
}